@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

.app {
  min-height: 100vh;
}

.map {
  position: absolute !important;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.modes {
  position: absolute;
  width: 200px;
  height: 40px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  z-index: 100;
  padding: 0.5rem;
}

.modes:hover {
  background: rgba(255, 255, 255, 1);
}
.features-container {
  position: absolute;
  width: 40%;
  background: transparent;
  top: 0;
  right: 0;
  display: flex;
  height: 100%;
  transition: transform 200ms ease-in;
}

.features-toggler {
  height: fit-content;
  height: 50px;
  display: block;
  transform: translate(0%);
  background: white;
  border: none;
}

.features-toggler {
  transform: rotateY(0.5turn);
  transition: transform 200ms ease-out;
}

.toggled-container {
  transform: translate(93%);
  transition: transform 200ms ease-out;
}

.toggled-btn {
  transform: rotateY(0);
  transition: transform 200ms ease-out;
}

.features-content {
  background: white;
  width: 100%;
  padding: 1rem;
  /* display: flex; */
  /* flex-direction: column; */
  overflow-y: scroll;
}

.features-content h3 {
  font-size: 2rem;
  padding: 1rem 0;
}

.feature {
  padding: 1rem 2rem;
  /* padding-bottom: 1rem; */
  border-bottom: 1px solid #a69090;
  opacity: 1;
  height: 100vh;
}

.feature h3 {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.feature p {
  font-family: 'Montaga', serif;
}

.feature.visible {
  opacity: 1;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  bottom: 20px;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.infobox {
  position: absolute;
  top: 30%;
  height: fit-content;
  box-shadow:0 2px 3px rgba(0, 0, 0, 0.20);
  border-radius: 5px;
  min-height: 100px;
  padding: 10px;
  margin-top: 5px;
  margin-left: 5px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.3);
}

.infobox:hover {
  background-color: rgba(255, 255, 255, 1);
}

.selection {
  position: absolute;
  top: 30%;
  width: 150px;
  height: 200px;
  border-radius: 5px;
  box-shadow:0 2px 3px rgba(0, 0, 0, 0.20);
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
}

.selection:hover {
  background-color: rgba(255, 255, 255, 1);
}

.selection div {
  height: 100%;
  display: flex;
  padding: 10px 0 10px 10px;
  cursor: pointer;
}

.selection div:hover {
  background-color: #3887be;
}
